<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinancialTrackr</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinancialTrackr.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-container">
                <div class="nav-logo"><a asp-page="/Logout">FinanceR</a></div>
                
                <ul class="nav-links">
                    @{
                        int? userId = Context.Session.GetInt32("UserId");
                        bool isAdmin = Context.Session.GetInt32("IsAdmin") == 1;
                        string currentPage = ViewContext.RouteData.Values["page"]?.ToString() ?? "";
                    }
                    @if (userId == null)
                    {
                        <li><a asp-page="/Login">Bejelentkezés</a></li>
                        <li><a asp-page="/RegPage">Regisztráció</a></li>
                    }
                    else
                    {

                        @if (isAdmin)
                        {
                            <li><a asp-page="/AdminPage">Felhasználók Költségei</a></li>
                            <li><a asp-page="/AdminDV">Felhasználók Diagrammjai</a></li>
                        }
                        else
                        {
                            <li><a asp-page="/Userpage">Kiadások</a></li>
                            <li><a asp-page="/DataVisualization">Diagrammok</a></li>
                        }

                        <li><a asp-page="/Logout">Kijelentkezés</a></li>
                    }
                </ul>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - FinancialTrackr - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>